.about-banner{
    min-height: 200px;
    background-color: black;
    text-align: center;
    color: #fff;
}

.about-banner h1{
    margin-top: 55px;
    padding-bottom: 5px;
}

.about-banner a{
    color: #fff;
    text-decoration: none;
}

.about-banner span{
    color: red;
}