*{
    margin: 0px;
    padding: 0px;
}


.navbar-top {
    width: 100%;
    box-shadow: 0px 9px 21px -7px;
    height: 65px;
    position: fixed;
    background-color: #fff;
}

/*top left */
.navbar-top .nav-top-left{
    width: 15%;
    display: flex;
    float: left;
    margin-left: 10px;
}
.navbar-top .nav-top-left img{
    width: 70px;
    height: 65px;
}

.navbar-top .nav-top-left h3{
    padding-left: 15px;
    font-size: 20px;
    color: red;
    font-weight: 700;
    padding-top: 17px;
    font-size: 23px;
}
.navbar-top .nav-top-middle{
    width: 75%;
    display: flex;
    float: left;
}

.navbar-top .nav-top-middle ul{
    list-style-type: none;
    padding-top: 17px;
    font-size: 27px;
    padding-left: 35px;

}
.search{
    padding: 12px;
    margin: auto;
}

.search button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
.search  svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;

  }

.search  ::placeholder {
    color: #000;
    opacity: 0.7; 
  }

 .search input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

.search  form {
    width: 215px;
    height: 26px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid grey;
    border-radius: 26px;
    padding: 4px;
  }

.navbar-top .nav-top-right{
    display: flex;
}
.navbar-top .nav-top-right .profile{
    padding: 10px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 23px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/* dropdown menu  */
.navbar-top .nav-top-right .drop-down-menu{
    position: absolute;
    top: 59px;
    right: 83px;
    display: none;
    
}
.navbar-top .nav-top-right .drop-down-menu ul{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    list-style: none;
    background: #fff;
    height: 112px;
    width: 157px;
    text-align: center;
}

.main-container{
    width: 100%;
    position: absolute;
    top: 66px;
    z-index: -1;
}

.left-side{
    height: 100vh;
    width: 17%;
    background-color: #000;
    background: #eaeef3;
    float: left;
    position: fixed;
}

.left-side ul{
    padding-top: 30px;
    list-style: none;

}
.left-side ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 57px;
    padding-left: 12px;
    margin-top: 10px
}
.left-side ul li a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: 15px;
}

.left-side ul li img{
    height: 24px;
}

.left-side ul li.active{
    background: whitesmoke;
}

/* submenu  */

.left-side ul .sub-menu{
    padding: 0px;
    margin: 0px;
    padding-bottom: 6px;
    background-color: #f5f5f5;
    position: absolute;
    left: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 176px;
}
.left-side ul .sub-menu li{
    padding-right: 23px;
    height: 27px;
}
.left-side .sub-menu li:hover{
    background: #fff;
    width: 78%;
}

#trip-sub-menu{
    display: none;
}

.left-side #vehicle-sub-menu li:hover{
    background: #fff;
    width: 81%;
}
#vehicle-sub-menu{
    display: none;
}

/* right side  */

.right-side{
    width: 83%;
    float: left;
    height: 100vh;
    padding-bottom: 30px;
    margin-left: 17%;
    position: relative;
    z-index: -1;
    background: whitesmoke;
}